body {
  height: 100vh;
  width: 100vw;
  background-color: slategrey;
}

#root {
  background-color: slategrey;
}

.app-wrapper {
  margin: auto;
  width: 80vw;
}

/* Filters */
.filters {
  display: flex;
}

.filters div {
  margin-right: 10px;
}

.filter-checkbox {
  margin-right: 5px;
}

.filter-search {
  width: 300px;
}

.filter-checkboxes {
  margin-top: 5px;
}

/* Crypto Cards */
.crypto-cards {
  animation: fadeIn .5s ease-in-out;
}

.crypto-card-wrapper {
  background-color: whitesmoke;
  margin: 10px 0;
}

.crypto-icon-link {
  cursor: pointer;
  margin: auto;
  margin-right: 10px;
}

.crypto-card-content {
  display: flex;
}

.crypto-card-content div {
  margin: 5px;
}

.negative-percent-change {
  color: red;
}

.positive-percent-change {
  color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut .5s ease-out;
}

@media (max-width: 662px) and (min-width: 600px) {
  .filter-checkboxes {
    font-size: 70%;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 70%;
  }

  .filter-search {
    width: 100vw;
  }

  .filters {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .app-wrapper {
    width: 95vw;
  }

  .filter-search {
    width: 95vw;
  }

  .card-content {
    padding: 0.5rem;
  }

  .filter-search {
    width: 95vw;
  }

  .crypto-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .percent-change {
    display: flex;
    grid-column: 1 / 3;
  }
}


/* Spinner */
.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 20% auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;  
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}

/* app picker */
.app-picker-wrapper {
  margin: 0;
  padding-top: 20vh;
  text-align: center;
}

.app-picker-header {
  font-size: 200%;
}

.apps {
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: auto;
  max-width: 30vh;
}

.umbrella-link {
  grid-row: 2;
  grid-column: 2 / 4;
  text-align: center;
}
.umbrella-link a {
  color: white;
}

.app-box {
  margin: 5px;
  padding: 5em;
  border: solid black 2px;
  background-color: white;
  cursor: pointer;
}

.app-box:hover {
  border: solid whitesmoke 2px;
  background-color: whitesmoke;
  opacity: 0.5;
}