body {
  height: 100vh;
  width: 100vw;
  background-color: slategrey;
}

#root {
  background-color: slategrey;
}

.app-wrapper {
  margin: auto;
  width: 80vw;
}

/* Filters */
.filters {
  margin-right: 10px;
  display: flex;
}

.filters div {
  margin-right: 10px;
}

.filter-checkbox {
  margin-right: 5px;
}

.filter-search {
  width: 300px;
}

/* Crypto Cards */
.crypto-cards {
  animation: fadeIn .5s ease-in-out;
}

.crypto-card-wrapper {
  background-color: whitesmoke;
  margin: 10px 0;
}

.crypto-icon-link {
  cursor: pointer;
  margin: auto;
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut .5s ease-out;
}

@media (max-width: 420px) {
  .app-wrapper {
    width: 95vw;
  }

  .filters {
    flex-direction: column;
  }

  .filter-search {
    width: 95vw;
  }
}


/* Spinner */
.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 20% auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;  
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}